:root {
  --primary-color: #1976d2;
  --hover-color: #13508d;
  --light-color: #fff;
  --dark-color: #272727;
  --dark-theme-primary-color: #3f95eb;
  --dark-light-color: #efefef;
  --black-color: #000;
}

.App {
  width: 100vw;
  
}

.card{
  background-color: gray;
  width: 400px;
  box-shadow: 20px 28px rgba(0, 0, 0, 0.19);
  transition: all .2s ease;
}
h1{
  text-decoration: underline;
  padding-bottom: 20px;
}

body {
  margin: 0;
  padding: 0;
  transition: all .2s ease;
  overflow-y: scroll;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif !important;
}

a {
  text-decoration: none;
}

.Sidebar {
  width: 250px;
  height: 100%;
  background-color: #2F4050;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  width: 100%;
  height: 50px;
  border: 1px solid black;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #293846;
}

.SidebarList #active {
  background-color: #293846;
  margin-left: 8px;
  padding-left: 8px;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

.sidebar-link {
  color: var(--primary-color);
  background-color: transparent;
  transition: all .2s ease;
}

.sidebar-link:hover {
  color: var(--light-color);
  background-color: var(--primary-color);
  transform: translateX(25px);
}

.dark-mode-label {
  transition: all .2s ease;
  transform-origin: center;
}

.dark-mode-icon {
  transition: all .4s ease;
  transform-origin: center;
}

.dark-mode-icon input {
  opacity: 0;
}

.dark-mode-label:hover {
  color: var(--primary-color);
}

.dark-mode-label:hover .dark-mode-icon {
  transform: rotate(360deg) translateX(3px);
  background-color: var(--primary-color);
  color: var(--light-color);
}

.dark-theme {
  color: var(--dark-light-color) !important;
  background-color: var(--dark-color);
  transition: all .2s ease;
}

.dark-theme .css-zxtyt4-MuiPaper-root-MuiAppBar-root {
  color: var(--dark-light-color) !important;
}

.dark-theme .dark-mode-label input:checked~svg {
  background-color: var(--primary-color);
}

.dark-theme label {
  color: var(--dark-light-color) !important;
}

.dark-theme .dark-mode-label input~svg {
  transition: all .4s ease;
}

@media screen and (max-width: 600px) {
  .dark-theme .dark-mode-label {
    color: var(--dark-light-color) !important;
  }

  .dark-theme .dark-mode-label input:checked~svg {
    color: var(--dark-light-color) !important;
  }

  .dark-theme .dark-mode-label:hover input:checked~svg {
    color: var(--dark-color) !important;
  }

  .dark-theme .dark-mode-label:hover .dark-mode-icon,
  .dark-mode-label:hover .dark-mode-icon {
    transform: translateX(0) !important;
  }

  .dark-theme .MuiDrawer-paper {
    background-color: var(--dark-color);
  }

}

.dark-theme .MuiDrawer-paper {
  border-right: 1px solid var(--black-color) !important;
}

.dark-theme .dark-mode-label:hover {
  color: var(--dark-theme-primary-color) !important;
}

.dark-theme .dark-mode-label:hover .dark-mode-icon {
  transform: rotate(360deg) translateX(3px);
  background-color: var(--dark-light-color) !important;
  color: var(--dark-theme-primary-color) !important;
}

.dark-theme .dark-mode-label:hover input:checked~svg {
  background-color: var(--dark-light-color) !important;
}

.dark-theme .MuiDrawer-paper>div>ul>a>li {
  border-bottom: 1px solid var(--black-color) !important;
}

.dark-theme .MuiDrawer-paper>div>ul>a:hover {
  color: var(--dark-light-color);
}

.dark-theme .sidebar-link:hover {
  color: var(--dark-light-color);
}

.dark-theme hr {
  border-color: var(--black-color);
}

.dark-theme .card {
  border: 1px solid var(--black-color);
  background-color: var(--dark-color);
  color: var(--dark-light-color);
}

.dark-theme .card ul li {
  color: var(--dark-light-color);
}

.dark-theme footer {
  border-top: 1px solid var(--black-color);
}